:root {
    --main-red: #df2e38;
    --mid-green: #ddf7e3;
    --light-green: #c7e8ca;
    --dark-green: #5d9c59;
}

.top-img {
    background: url(/images/);
}

.breakfast-cards {
    margin: 100px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-gap: 5px;
}

.breakfast-card {
    display: flex;
    padding: 20px;

    .card-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid var(--dark-green);
        border-radius: 50px;
        /* padding-bottom: 20px; */

        h3 {
            color: var(--mid-green);
            font-size: 30px;
            font-weight: bold;

        }

        .price {
            color: black;
            font-size: 30px;
        }

        p {
            color: var(--main-red);
            padding: 10px;
            line-height: 2;
            margin-top: -20px;
        }
    }

    img {
        width: 100%;
        height: 20em;
        border-radius: 50px 50px 0 0;
    }
}